In [1]:
 # Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from scipy.stats import sem

In [2]:
# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

In [3]:
# File to Load
mouse_drug_data_to_load = "02-Homework_05-Matplotlib_Instructions_Pymaceuticals_data_mouse_drug_data.csv"
clinical_trial_data_to_load = "02-Homework_05-Matplotlib_Instructions_Pymaceuticals_data_clinicaltrial_data.csv"

In [4]:
# Read Data Files and store into Pandas Data Frames
mouse_data = pd.read_csv(mouse_drug_data_to_load)
clinical_data = pd.read_csv(clinical_trial_data_to_load)
print(mouse_data.columns)
print(clinical_data.columns)

Index(['Mouse ID', 'Drug'], dtype='object')
Index(['Mouse ID', 'Timepoint', 'Tumor Volume (mm3)', 'Metastatic Sites'], dtype='object')

In [5]:
# Combine the data into a single dataset
data_complete = pd.merge(clinical_data, mouse_data, how="left", on=["Mouse ID", "Mouse ID"])

data_complete.head(5)

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites       Drug
0     b128          0                45.0                 0  Capomulin
1     f932          0                45.0                 0   Ketapril
2     g107          0                45.0                 0   Ketapril
3     a457          0                45.0                 0   Ketapril
4     c819          0                45.0                 0   Ketapril

In [6]:
# Store the Mean Tumor Volume Data Grouped by Drug and Timepoint 

mean_tumor_volume = data_complete.groupby(['Drug','Timepoint']).agg({'Tumor Volume (mm3)': 'mean'})
drug_tumor = mean_tumor_volume.reset_index()
drug_tumor

         Drug  Timepoint  Tumor Volume (mm3)
0   Capomulin          0           45.000000
1   Capomulin          5           44.266086
2   Capomulin         10           43.084291
3   Capomulin         15           42.064317
4   Capomulin         20           40.716325
..        ...        ...                 ...
95  Zoniferol         25           55.432935
96  Zoniferol         30           57.713531
97  Zoniferol         35           60.089372
98  Zoniferol         40           62.916692
99  Zoniferol         45           65.960888

[100 rows x 3 columns]

In [7]:
# Store the Standard Error of Tumor Volumes Grouped by Drug and Timepoint
group_standard_error = data_complete.groupby(['Drug','Timepoint']).agg({'Tumor Volume (mm3)': 'sem'})
group_standard_error = group_standard_error.reset_index()
group_standard_error.head()

         Drug  Timepoint  Tumor Volume (mm3)
0   Capomulin          0            0.000000
1   Capomulin          5            0.448593
2   Capomulin         10            0.702684
3   Capomulin         15            0.838617
4   Capomulin         20            0.909731
..        ...        ...                 ...
95  Zoniferol         25            0.602513
96  Zoniferol         30            0.800043
97  Zoniferol         35            0.881426
98  Zoniferol         40            0.998515
99  Zoniferol         45            1.003576

[100 rows x 3 columns]

In [ ]:
 # Minor Data Munging to Re-Format the Data Frames

# Preview that Reformatting worked